asgiref==3.8.1
colorama==0.4.6
Django==5.2
django-formtools==2.5.1
django-otp==1.6.0
django-phonenumber-field==8.0.0
django-two-factor-auth==1.17.0
phonenumbers==8.13.55
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
